@font-face {
	font-family: "Linux Biolinum";
	src: url('../fonts/LinBiolinum_R.woff');
}

@font-face {
	font-family: "Monospaced Font";
	src: url('../fonts/inconsolata.woff');
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: "Linux Biolinum";
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 250px;
	margin-right: 250px;
}

code {
	font-family: "Monospaced Font";
}

a:link {
	color: var(--color6);
	text-decoration: none;
	padding: 2px;
	font-weight: bold;
}

a:visited {
	color: var(--color6);
}

a:hover {
	background-color: var(--color6);
	color: var(--bg);
	padding: 2px;
	font-weight: bolder;
}

.sidebar {
	float: right;
	min-width: 200px;
	max-width: 300px;
	background-color: var(--color0);
	padding: 5px;
	border-radius: 0 10px 30px 0;
}

th {
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

td {
    padding: 8px;
    text-align: center;
    font-weight: normal;
}

tr:nth-child(even) {
   background-color: var(--color0);
}

tr:nth-child(odd) {
    background-color: var(--background);
}
