@import "colorscheme.css";

body {
    font-family: sans-serif; 
    background-color: var(--background);
    color: var(--foreground); 
}

a:link {
    color: var(--color12);
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
}

a:visited {
    color: var(--color12);
}

a:hover {
    background-color: var(--color15);
    color: var(--background);
    padding: 2px;
    font-weight: bolder;
}

code {
	font-size: 18px;
}

.title {
    font-style: italic;
    text-align: center;
}

.navigation {
    text-align: center;
}

.mainText {
    border: 1px dashed var(--foreground);
    border-radius: 8px 8px 8px 8px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: 50px;
    margin-right: 50px;
}


th {
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

td {
    padding: 8px;
    text-align: center;
    font-weight: normal;
}

tr:nth-child(even) {
   background-color: var(--color0);
}

tr:nth-child(odd) {
    background-color: var(--background);
}
