/* solarized Colour Scheme */

:root {
	--color0: #073642;
	--color1: #dc322f;
	--color2: #859900;
	--color3: #b58900;
	--color4: #268bd2;
	--color5: #d33682;
	--color6: #2aa198;
	--color7: #eee8d5;
	--color8: #002b36;
	--color9: #cb4b16;
	--color10: #586e75;
	--color11: #657b83;
	--color12: #839496;
	--color13: #6c71c4;
	--color14: #93a1a1;
	--color15: #fdf6e3;
	--bg: #002b36;
	--fg: #839496;
}
/* nord Colour Scheme */

:root {
	--color0: #3B4252;
	--color1: #BF616A;
	--color2: #A3BE8C;
	--color3: #EBCB8B;
	--color4: #81A1C1;
	--color5: #B48EAD;
	--color6: #88C0D0;
	--color7: #E5E9F0;
	--color8: #4C566A;
	--color9: #BF616A;
	--color10: #A3B38C;
	--color11: #EBCB8B;
	--color12: #81A1C1;
	--color13: #B48EAD;
	--color14: #8FBCBB;
	--color15: #ECEFF4;
	--fg: #D8DEE9;
	--bg: #2E3440;
}
/* gruvbox Colour Scheme */

:root {
	--color0: #282828;
	--color1: #cc241d;
	--color2: #98971a;
	--color3: #d79921;
	--color4: #458588;
	--color5: #b16286;
	--color6: #689d6a;
	--color7: #a89984;
	--color8: #928374;
	--color9: #fb4934;
	--color10: #b8bb26;
	--color11: #fabd2f;
	--color12: #83a598;
	--color13: #d3869b;
	--color14: #8ec07c;
	--color15: #ebdbb2;
	--bg: #1d2021;
	--fg: #ebdbb2;
}
