/* DWM Colour Scheme */

:root {
	--fg: #8ed4c2;
	--bg: #0a0d1e;
	--color0: #0a0d1e;
	--color1: #CE525E;
	--color2: #2A9F6B;
	--color3: #EAA76C;
	--color4: #3B5E8B;
	--color5: #4F6790;
	--color6: #B97288;
	--color7: #8ed4c2;
	--color8: #639487;
	--color9: #CE525E;
	--color10: #2A9F6B;
	--color11: #EAA76C;
	--color12: #3B5E8B;
	--color13: #4F6790;
	--color14: #B97288;
	--color15: #8ed4c2;
}
