body {
	background-color: #282828;
	color: #ebdbb2;
	max-width: 50em;
	margin: 0 auto;
}

h1 {
	color: #b16286;
}

h2 {
	color: #d3869b;
}

h3 {
	color: #d65d0e;
}

h4 {
	color: #fe8019;
}

.date {
	font-weight: normal;
	color: #928374;
}

a:link, a:visited {
	color: #b16286;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	padding-bottom: 10px;
	border-bottom: 1px solid #665c54;
}

.navbar {
	margin-top: -15px;
}

.navbar ul, .navbar ul li, .navbar li {
	list-style-type: none;
	padding: 0;
	padding-right: 10px;
	display: inline;
}

.icon {
	width: 20px;
	vertical-align: -5px;
	padding-right: 5px;
}

.blog-title h2 {
	margin-top: -19px;
	font-size: 18px;
	font-style: italic;
	color: #928374;
}

.toc {
	max-width: 480px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	margin-right: 15px;
	border-right: 1px solid #665c54;	
	border-top: 1px solid #665c54;	
	border-bottom: 1px solid #665c54;	
}

.toc h2 {
	margin-bottom: -15px;
}

.discography img {
	width: 250px;
}
