:root {
    --background-color: #110c15;
    --foreground-color: #d0c9d8;
    --accent-color: #c69eea;
    --active-color: #61d1fb;
    --panel-background: #1b1521;
    --panel-border-color: #f8bfd4;
    --selection-color: #f8bfd4;;
}