@font-face {
    font-family: "DM Mono";
    src: url('/assets/fonts/DMMono-Regular.ttf');
}

@font-face {
    font-family: "DM Mono Italic";
    src: url('/assets/fonts/DMMono-Italic.ttf');
}

@font-face {
    font-family: "DM Mono Medium";
    src: url('/assets/fonts/DMMono-Medium.ttf');
}

@font-face {
    font-family: "Space Mono";
    src: url('/assets/fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: "Space Mono Italic";
    src: url('/assets/fonts/SpaceMono-Italic.ttf');
}