@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: "Outfit";
}

h1 {
    font-size: 80px;
}

ul li {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}